
.art-footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  padding: 8px 15px;            
  width: 100%;                   
  box-sizing: border-box;
  background-color: #fff;        
}


.art-caption {
  margin: 0;
  font-size: 14px;
  color: #333;
  text-align: left;             
  flex: 1;                       
}

.delete-icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff4d4d;               
  padding: 5px;
  transition: transform 0.2s ease;
  margin-left: 10px;             
}

.delete-icon-btn:hover {
  transform: scale(1.2);       
  color: #cc0000;
}